parameters:
    level: 7
    paths:
        - packages/platform/src
        - packages/api-platform/src
        - packages/admin-bundle/src
        - packages/tenant-bundle/src
        - packages/sequence-bundle/src
        - packages/workflow-bundle/src
    tmpDir: var/phpstan
