<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         cacheDirectory="var/.phpunit.cache">
    <testsuites>
        <testsuite name="platform">
            <directory>packages/platform/tests</directory>
        </testsuite>
        <testsuite name="api-platform">
            <directory>packages/api-platform/tests</directory>
        </testsuite>
        <testsuite name="admin-bundle">
            <directory>packages/admin-bundle/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/platform/src</directory>
            <directory>packages/api-platform/src</directory>
            <directory>packages/admin-bundle/src</directory>
        </include>
    </source>
</phpunit>
